.container {
  @include above(lg) {
    padding-left: $layout-spacing-lg;
    padding-right: $layout-spacing-lg;
  }
}

// html, body, #__nuxt, #__layout, .main {
//   height: 100%;
// }

.v-lazy-image {
  opacity: 0;
}

.v-lazy-image-loaded {
  animation: fade-in-image .5s;
  opacity: 1;
  animation-timing-function: $timing-springy;
}
