@font-face {
  font-family: "MaisonNeueBold";
  // src: url("~assets/fonts/MaisonNeueBold.eot");
  // src: url("~assets/fonts/MaisonNeueBold.eot?#iefix")format("embedded-opentype"),
  // url("~assets/fonts/MaisonNeueBold.woff") format("woff"),
  // url("~assets/fonts/MaisonNeueBold.ttf") format("truetype");
  src: url("~assets/fonts/MaisonNeueBold.ttf") format("truetype");
  font-style: bold;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: bold;
}

.c-typo-heading {
  font-size: 1.8em;
  line-height: 1.35em;
}

.c-typo-subheading {
  font-size: 1.3em;
  line-height: 1.35em;
}

.c-typo--muted {
  color: $c-gray-light;
}

.c-typo--primary {
  color: $c-primary;
}

/*
 * Modifiers
 */

 .c-typo--center {
   text-align: center;
 }
